/**
全体に適用するスタイル設定
moduleはスコープありきなので、pureなscssにする
**/
// ベースは、以下の記事を参考にdestyleでリセットをかけることにした
// https://coliss.com/articles/build-websites/operation/css/reset-and-normalizer-reseter-css.html
@use '../../node_modules/reseter.css/css/reseter.min.css';
// コードハイライトのテーマ
@use './prism-material-oceanic.css';
@use './utils' as utils;

*,
::after,
::before{
  box-sizing: border-box
}

:root {
  --c-bg: #f5fffa;
  --c-text: #7a7a7a;
  --c-card-bg: #ffffff;
  --c-gray: #c9caca;
  // every layout実験
  --ratio: 1.5;
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: var(--c-bg);
  color: var(--c-text);
  
  @include utils.mq(md) {
    font-size: 1.8rem;
  }
}

img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 20px 0;
}

/*
　これ以降はPostTemplateで利用する想定なので、ファイルを切り出したほうがいいかも
*/

ul, ol {
  padding-left: 1em;
  margin: 0.5em 0;
}

li {
  list-style: disc;
  &::marker {
    font-size: 1.1em;
  }
}

// リンク
a {
  text-decoration: underline;
  font-size: .8em;
  margin: 1em 0;
  cursor: pointer;
}

// 目次
li > a {
  font-size: 1em;
  text-decoration: underline;
}

// 黄色マーカー **name**
strong {
  background: linear-gradient(transparent 70%, yellow 70%); 
}

// ``で囲ったとき
code {
  background:#f5f2f0
}

// コードブロックのファイル名の親要素
pre {
  position: relative;
}

// コードブロックのファイル名
.file-name {
  position: absolute;
  top:0;
  left:0;
  font-family: Roboto Mono, monospace;
  font-size: 0.9em;
  color: black;
  background: yellow;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 1;
}

// 引用
blockquote {
  font-size: .97em;
  margin: 1.4rem 0;
  border-left: 3px solid #b3bfc7;
  padding: 2px 0 2px .7em;
  color: #626e77;
}



h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
}

/*
　ここまでPostTemplateで利用するスタイル
*/
