/**
全体に適用するスタイル設定
moduleはスコープありきなので、pureなscssにする
**/
// ベースは、以下の記事を参考にdestyleでリセットをかけることにした
// https://webdesign-trends.net/entry/8137#A_Modern_CSS_Reset
@import 'destyle.css';
// コードハイライトのテーマ
@import './prism-material-oceanic.css';

html {
  font-size: 62.5%;
}

body {
  // SPは15pxをデフォルトにする
  font-size: 1.5rem;
}

:root {
  --c-gray: #93a5b1
}
