/**
全体に適用するスタイル設定
moduleはスコープありきなので、pureなscssにする
**/
// ベースは、以下の記事を参考にdestyleでリセットをかけることにした
// https://webdesign-trends.net/entry/8137#A_Modern_CSS_Reset
@import 'destyle.css';
// コードハイライトのテーマ
@import './prism-material-oceanic.css';

html {
  font-size: 62.5%;
}

body {
  // SPは15pxをデフォルトにする
  font-size: 1.5rem;
  background-color: var(--c-bg);
  color: var(--c-text);
}

:root {
  --c-bg: #f5fffa;
  --c-text: #7a7a7a;
  --c-card-bg: #ffffff;
  --c-gray: #c9caca;
}
